<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="css/main.css">

        <script type="importmap"> {"imports": {"three": "./build/three.module.js"}} </script>
        <script async src="js/es-module-shims.js"></script>
    </head>

<body id="container">

<div id="header"></div>
<div id="content">
    <div id="content-center">
        <div id="blocker">
            <div id="instructions">
                <p style="font-size:36px">
                    Click to move
                </p>
                <p>
                    Move: WASD<br/>
                    Look: MOUSE
                </p>
            </div>
        </div>
    </div>
    <div id="content-right">
        <div id="map"></div>
        <div id="chat">
            <div id="chat-box"> <%- include('chat-box') %> </div>
            <div id="chat-message">
                <form action="" id="sendmsg">
                    <label> <%-name%> :</label>
                    <input type="text" size="30" name="msg" id="msg">
                    <input type="submit" name="send" value="Send">   
                </form>
            </div>
        </div>
    </div>
</div>



<div id="footer"></div>

<script> 
    let Users = JSON.parse('<%-users%>');
    let userX = 0;
    let userZ = 0;
</script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="/socket.io/socket.io.js"></script>

<script>
    var socket = io();
    socket.on('connection', function(data){
        Users = data;
        for (var user of Users) {
            if(user.id == socket.id) {
                userX = user.positionX;
                userZ = user.positionZ;
            }
        }
    });
    $('#sendmsg').submit(function(){
        var msg = $('#msg').val();
        var name = '<%-name%>';
        if(msg.length > 0)
            socket.emit('chat message', name, msg);
        else
            console.log("Enter a valid msg :)");
        $('#msg').val("");
        return false;
    });
    setInterval(function(){
        socket.emit('update coords', socket.id, userX, userZ);
    }, 50);
    socket.on('chat message', function(name, msg){
        $("#chat-box").append("<div> <span> "+name+": </span>"+msg+"</div>");
    });
    socket.on('update coords', function(id, X, Z){
        for (var user of Users) {
            if(user.id == id) {
                user.positionX = X;
                user.positionZ = Z;
            }
        }
    });
    
</script>

<script type="module" src="js/mainView.js"></script>

</body>
</html> 