<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="css/main.css">

        <script type="importmap"> {"imports": {"three": "./build/three.module.js"}} </script>
        <script async src="js/es-module-shims.js"></script>
    </head>

<body id="container">

<div id="header"></div>
<div id="content">
    <div id="content-center"></div>
    <div id="content-right">
        <div id="map"></div>
        <div id="chat">
            <div id="chat-box"> <%- include('chat-box') %> </div>
            <div id="chat-message">
                <form action="" id="sendmsg">
                    <input type="text" name="msg" id="msg">
                    <input type="submit" name="send">   
                </form>
            </div>
        </div>
    </div>
</div>
<div id="footer"></div>

<script type="module" src="js/mainView.js"></script>
<script type="module" src="js/mapView.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script>
    var socket = io();
    $('#sendmsg').submit(function(){
        var msg = $('#msg').val();
        if(msg.length > 0)
            socket.emit('chat message', msg);
        else
            console.log("Enter a valid msg :)");
        $('#msg').val("");
        return false;
    });
    socket.on('chat message', function(msg){
        $("#chat-box").append("<div> <span> test </span>"+msg+"</div>");
    });
</script>

</body>
</html> 