#container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: minmax(100px, 100px) 1fr minmax(50px, 50px);
    height: calc(98vh);
}
#header {
    background: #ff0000;
}
#content {
    background: #00ff00;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(6, 1fr);
}
#footer {
    background: #0000ff;
}